#main{
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
}


.singleRecipeMainContent{
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
  align-items: center;
}

/* #singleRecipeTitleParent {
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
  align-items: center; 
  margin-top: -250px;
} */

.titlebox {
  margin-top: -350px;
  background-color: rgba(0,0,0,0.35);
  padding: 20px;
  border-radius: 12px;
}

#singleRecipeTitle {
    color: white;
    text-align: center;
}
  
.singleRecipeTitleLevel {
  color: white;
}

#singleRecipeMainImage{
}

#singleRecipeMainImageContainer {
  margin-top: -250px;
  overflow: hidden!important;
}

.singleRecipeInfoBox{
  background-color: #6E0E0A;
  padding: 30px;
  width: 100%;
  border-radius: 10px;
  display: flex!important;
  flex-direction: row;
  justify-content: space-evenly;
}

.singleRecipeInfoBoxInner {
  display: flex!important;
  flex-direction: column;
  justify-content: center;
}

.bigText {
  color: white;
  text-align: center;
  font-size: 45px;
}

.smallText {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.card-content {
  min-height: 200px!important;
}

.catpill {
  border-radius: 50px;
  width: 100px;
  height: 30px;
  padding: 10px;
  background-color: #6E0E0A;
  color: white!important;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.catpill>a {
  padding-top: 5px;
  color: white;
}

@media only screen and (max-width: 1199px) {
  .titlebox {
    margin-top: 20px;
    color: black;
  };

  #singleRecipeTitle, .singleRecipeTitleLevel {
    color: #6E0E0A;
  }

  #singleRecipeMainImageContainer {
    margin-top: 0px;
    max-height: 700px;
    overflow: hidden!important;
  }

  .bigText {
    font-size: 30px;
  }

  .singleRecipeInfoBox {
    width: 100%;
  }

}
